<div class="well hoverwell thumbnail">
  <h2>{{ eventChild?.name }}</h2>
  <div>Date: {{ eventChild?.date }}</div>
  <div>Time: {{ eventChild?.time }}</div>
  <div [ngSwitch]="eventChild?.time">
    <span *ngSwitchCase="'8:00 am'">Early Start</span>
    <span  *ngSwitchCase="'10:00 am'">Late Start</span>
    <span  *ngSwitchDefault>Normal Start</span>
  </div>
  <div>Price: ${{ eventChild?.price }}</div>
  <div  [hidden]="!eventChild?.location">
    <span>Location: {{ eventChild?.location?.address }}</span>
    <span class="pad-left">{{ eventChild?.location?.city }},{{ eventChild?.location?.country }} </span>
  </div>
  <div>
    <span *ngIf="eventChild?.onlineUrl">Online Url: {{eventChild?.onlineUrl}}</span>
  </div>

</div>
