<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form (ngSubmit)="saveProfile(profileForm.value)"
      [formGroup]="profileForm"
      autocomplete="off"
      novalidate>
        <div class="form-group" [ngClass]="{'error':
         validateFirstName()}">
          <label for="firstNameId">First Name:</label>
          <em *ngIf="validateFirstName()">Required</em>
          <input id="firstNameId"
          formControlName="firstName"
          type="text"
          class="form-control"
           placeholder="First Name..." />
        </div>
        <div class="form-lastNameId" [ngClass]="{'error':
        validateLastName()}">
          <label for="lastName">Last Name:</label>
          <em *ngIf="validateLastName()">Required</em>
          <input id="lastNameId"
          formControlName="lastName"
          type="text" class="form-control"
          placeholder="Last Name..." />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button"
        (click)="cancelClick()"
        class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>
